# --- DOCKER & SYSTÈME ---
# On ne veut pas sauvegarder les environnement ni les données des clients 
# car on peut les gérer à travers les templates
clients/
!clients/.keep

# On ignore les fichiers de configuration Docker locaux ou secrets
docker-compose.override.yml

# --- DOLIBARR ---
# Si vous montez les documents (factures générées, photos), ne les mettez pas sur Git
#documents/
#custom/temp/

# --- MAC & ÉDITEURS ---
.DS_Store
.idea/
.vscode/
*.swp
Thumbs.db